@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  width: 1368px;
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50%;
}

.menu {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.menu__item {
  font-weight: 600;
}

.menu__item, .menu__icon {
  display: flex;
  align-items: center;
  gap: 3px;
}

.menu__icon {
  color: #00000052;
}

.menu__link {
  color: #000;
  text-decoration: none;
}

.sub-menu {
  display: none;
}

.header__actions {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__link {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.header__button {
  color: #FFF;
  background-color: #000;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.hero {
  background-color: hsla(132, 0%, 100%, 1);
  background-image: radial-gradient(circle at 91% 11%, hsla(13, 100%, 88%, 0) 4.038772213247173%, transparent 37.2265767974114%), radial-gradient(circle at 23% 50%, hsla(323, 100%, 88%, 0.76) 19.04202876606054%, transparent 63.33640956108327%), radial-gradient(circle at 73% 35%, hsla(267.9999999999999, 100%, 88%, 0.8) 21.05892295704486%, transparent 63.33640956108327%);
  background-blend-mode: normal, normal, normal;
  padding: 180px;
}

.hero__data {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 1368px;
  margin: 0 auto;
  padding-inline: 25px;
}

.hero__title {
  font-size: 75px;
  text-wrap: balance;
}

.hero__description {
  font-size: 23px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__button {
  position: relative;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  overflow: hidden;
  padding: 5px;
  box-sizing: content-box;
}

.hero__button span {
  background-color: #000;
  border-radius: 5px;
  color: #FFF;
  display: block;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.hero__button::after {
  content: '';
  width: 1000px;
  height: 1000px;
  position: absolute;
  background-image: linear-gradient(144deg, #fc7a9b, #b47eee);
  left: -300px;
  border-radius: 5px;
  top: -300px;
  z-index: 0;
  animation: gradient 2s infinite;
}

@keyframes gradient {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

.hero__requirements {
  color: #00000052;
  font-size: 16px;
}

.banner {
  display: flex;
  border-radius: 10px;
  background-color: #FFF;
  width: 792px;
  margin: 70px auto;
  text-decoration: none;
  color: #000;
  height: 112px;
  transition: 0.5s transform;
}

.banner:hover {
  transform: scale(1.05);
}

.banner__container {
  padding: 20px;

  p {
    span {
      font-weight: 600;
      border-bottom: 2px solid #00000052;
    }
  }
}

.banner__video {
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.banner__title {
  font-size: 17px;
}