@mixin text-style ($font-size, $font-weight, $font-style, $line-height:normal, $letter-spacing:normal) {
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin size ($width:auto, $height:auto) {
    width: $width;
    height: $height;
}
