

$blue: #0582ff;
$button-cream: #ebf5fe;
$black-light: #1a1a19;
$button-hover: #32312f;
$hover-header: #0000000d;
$primary-color: #fff;
$hover-blue: #045ac3;
$demo-hover: #d6e1f5;
$span-degraded: #a49898;
$size-vh: 1252px;