.footer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    position: absolute;
    top: 555rem;
    left: 0;
    border-top: 1px solid #b7b7b77f;
    padding: 100px 200px 80px 350px;
  
    &__column {
      font-size: 15px;
      font-weight: 500;
      color: #1a1a19;
  
      h4 {
        margin-bottom: 10px;
        font-weight: bold;
      }
  
      menu {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 5px;
  
          a {
            text-decoration: none;
            color: #5f5c58;
  
            &:hover {
              text-decoration: underline;
              color: #045ac3;
            }
          }
        }
      }
    }
  
    &__logo {
      width: 25px;
      margin-bottom: 20px;
    }
  
    &__logo-notion {
      width: 135px;
      margin-bottom: 20px;
    }
  
    &__socials {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
  
      a {
        text-decoration: none;
        font-size: 14px;
        color: #5f5c58;
      }
    }
  
    &__language {
      margin-bottom: 20px;
      padding: 7px 15px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
    }
  
    &__link {
      display: block;
      text-decoration: none;
      color: #5f5c58;
      font-weight: 500;
      margin-bottom: 5px;
    }
  
    &__explore {
      display: inline-block;
      margin-top: 10px;
      text-decoration: none;
      color: black;
      font-weight: bold;
  
      &:hover {
        text-decoration: underline;
        color: #045ac3;
      }
    }
  
    &__copyright {
      font-size: 14px;
      font-weight: 700;
    }
  
    p {
      margin-top: 20px;
      font-size: 12px;
      color: #5f5c58;
    }
  }