@use './styles/sass/reset.scss';
@use './styles/footer.scss';
@use './styles/header.scss';
@use './styles/tools.scss';
@use './styles/service.scss';
@use './styles/template.scss';



.main {
    width: 1252px;
    margin: 0px 188px;
    height: 100vh;
   

    .quote {
        background-color: #f6f5f4;
        padding: 60px;
        max-width: -moz-fit-content;
        max-width: fit-content;
        margin: auto;
        transform: rotate(-3deg);
        will-change: transform;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 130px auto;

        &__image {
            height: auto;
            object-fit: contain;
            position: absolute;
            bottom: 80%;
            left: 45%;
            width: 65px;
        }

        &__reviews {
            font-size: 43px;
            font-weight: 500;
            line-height: 50px;
            letter-spacing: -.02em;
            color: #1a1a19;
            font-family: lyon-text, lyon-display, serif;
            padding: 35px;
        }

        &__image--forbes {
            height: auto;
            width: 70px;
            object-fit: contain;
            position: absolute;
            bottom: 20%;
            left: 45%;
            transform: rotate(3deg);
        }

    }

    .features {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 200px;

        &__title {
            font-size: 61px;
            font-weight: 700;
            line-height: 65px;
            letter-spacing: -.02em;
            color: #1a1a19;
        }

        &__container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            width: 100%;
            justify-content: space-between;
        }

        .feature__card {
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
                width: 90px;
            }

            video {
                width: 90px;
            }

            .feature__link {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                color: #5f5c58a5;
                gap: 5px;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                letter-spacing: -.02em;
                font-style: normal;

                span {
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 29px;
                    letter-spacing: -.02em;
                    font-style: normal;
                    color: #1a1a19;
                }
            }
        }
    }

    .started {
        display: flex;
        flex-wrap: wrap;
        margin-top: 200px;
        justify-content: space-between;

        &__title {
            font-size: 61px;
            font-weight: 700;
            line-height: 65px;
            letter-spacing: -.02em;
            color: #1a1a19;
            font-style: normal;
            width: 100%;
            margin-bottom: 50px;
        }

        &__cards {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 49%;
            background-color: #f6f5f4;
            border-radius: 12px;
            padding: 35px 0 0 40px;

            h6 {
                font-size: 45px;
                font-weight: 600;
                line-height: 50px;
                letter-spacing: -.02em;
                color: #1a1a19;
                font-style: normal;
                margin-bottom: 10px;
            }

            .started__buttons{
                display: flex;
                gap: 10px;
                margin-bottom: 45px;
                .startted__button{
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 23px;
                    padding: 10px 25px 12px 25px;
                    border-radius: 8px;
                    border: none;
                    cursor: pointer;
                    background-color: #fff;
                }
                
                .startted__button--free{
                    background-color: #0582ff;
                    color: #ffffff;
                }
                .startted__button--free:hover{
                    background-color: #045ac3;
                }
                
            }
            .startted__button:hover{
                background-color: #eaeaea;
            }
        }
    }

    
}